<mat-tab-group mat-align-tabs="start" class="tab-group">
    <mat-tab label="PRÓXIMAS">
        <div style="padding: 2%;">
            <ng-container *ngFor="let live of livesNext" style="margin: 0.5%;">
                <mat-card class="mat-card-live">
                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span style="font-size: 1.3rem;"><b>{{live.liveName}}</b> - </span>
                                <span></span>
                                <span style="font-size: 1rem;">Data: <b>{{live.liveDate}}</b></span>
                            </p>
                            <p style="font-size: 1rem;">
                                Canal: <span>{{live.channelName}}</span>
                            </p>
                        </div>
                    </mat-card-title>
                    <mat-card-content>
                        <div>
                            <iframe width="560" height="315" [src]="live.urlSafe" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>
    <mat-tab label="REALIZADAS">
        <div style="padding: 2%;">
            <ng-container *ngFor="let live of livesPrevious" style="margin: 0.5%;">
                <mat-card class="mat-card-live">
                    <mat-card-title class="mat-card-title-live">
                        <div class="row">
                            <p>
                                <span style="font-size: 1.3rem;"><b>{{live.liveName}}</b> - </span>
                                <span></span>
                                <span style="font-size: 1rem;">Data: <b>{{live.liveDate}}</b></span>
                            </p>
                            <p style="font-size: 1rem;">
                                Canal: <span>{{live.channelName}}</span>
                            </p>
                        </div>
                    </mat-card-title>
                    <mat-card-content>
                        <div>
                            <iframe width="560" height="315" [src]="live.urlSafe" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>
</mat-tab-group>